@charset "uft-8";

/* 헤더 */

#warp{
    min-width: 1460px;
}
.topBn{
    position: relative;
    background-color: #00bbff;
}
.topBn_in > a{
    display: block;
    width: 1440px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 10px; */
    background-image: url(../img/topBn.png);
    text-indent: -9999px;
}
.topBn_close a{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 17px;
    height: 18px;
    background-image: url(../img/topBn_close.png);
    text-indent: -9999px;
}
#h_in{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 1440px;
}
.h_in_left{
    display: flex;
    justify-content: space-between;
    width: 850px;
}
.logo a{
    display: inline-block;
    margin-top: 32px;
    width: 74px;
    height: 30px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
}
.search{
    position: relative;
}
.search input{
    margin-top: 23px;
    width: 296px;
    height: 40px;
    opacity: 0.5;
}
.icon_search{
    position: absolute;
    padding: 8px;
    top: 33px;
    left: 16px;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    opacity: 0.2;
}
.trendingTopics, .trendingTopics a{
    margin-top: 18px;
    display: flex;
}
.tT_number{
    font-weight: bold;
    font-size: 18px;
    color: #222;
}
.tT_new{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #d90000;
}
.tT_name{
    padding-right: 80px;
    color: #222;
    font-size: 17px;
}
.tT_down{
    margin-top: 5px;
    width: 17px;
    height: 10px;
    background-image: url(../img/icon_down_B.png);
    opacity: 0.8;
}
.h_util{
    display: flex;
}
.h_in_right ul{
    display: flex;
}
.cart_open a{
    display: inline-block;
    margin-top: 28px;
    padding-top: 8px;
    padding-left: 28px;
    padding-bottom: 5px;
    font-size: 13px;
    color: #222;
    background-image: url(../img/icon_cart.png);
    background-repeat: no-repeat;
    background-size: 24px 22px;
    background-position: left 0 center;
}
/* .cart_open a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 24px;
    height: 22px;
    background-size: 100%;
    background-image: url(../img/icon_cart.png);
    background-position-y: 10px;
    background-repeat: no-repeat;
    text-indent: -9999px;
} */

.h_util li{
    margin-top: 28px;
}
.h_util li a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 13px;
    color: #222;
}
/* .h_util li a::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #222;
    border-right: 1px solid rgba(0, 0, 0, 1);
} */
.h_util button{
    margin-top: 25px;
    width: 93px;
    height: 40px;
    background-color: #00bbff;
    border-radius: 4px;
}
.h_util button p{
    color: white;
    vertical-align: top;
    text-align: 1px 1px;
}
.whirte_down{
    position: absolute;
    top: 41px;
    right: 17px;
    width: 17px;
    height: 10px;
    background-image: url(../img/icon_down_W.png);
}
#h_ngb{
    margin-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.h_ngb_in{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 707px;
}
.h_ngb_in a{
    display: inline-block;
    padding: 3px;
    font-size: 20px;
    font-weight: 700;
    line-height: 2.5em;
    color: #222;
}
.h_ngb1 a{
    font-weight: 800;
    border-bottom: 2px solid #00bbff;
    color: #00bbff;
}
.h_ngb_drop a{
    display: inline-block;
    margin-top: 11px;
    margin-left: -13px;
    padding-top: 20px;
    width: 17px;
    height: 10px;
    background-image: url(../img/icon_down_B.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* 메인1 */
#main1{
    margin-bottom: 85px;
}
.m1_in{
    position: relative;
}
.m1_in ul{
    display: flex;
}
.m1_in li{
    margin-right: 23px;
    width: 91px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.m1_in li:last-child{
    margin-right: 0;
}
.m1_in img{
    position: relative;
    height: 911px;
}
.mb_text{
    position: absolute;
    bottom: 20px;
    right: 50%;
    margin-right: -80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.m1_in .m1_bn_now{
    width: 1357px;
    height: 100%;
    overflow: hidden;
}
.mb_btn{
    position: absolute;
    right: 365px;
    bottom: 25px;
    /* margin-right: -612px; */
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.mb_btn a{
    display: inline-block;
    width: 7px;
    padding: 6px;
    height: 12px;
    text-indent: -9999px;
    opacity: 0.5;
}
.mb_btn .mb_prev {
    padding-right: 2px;
    background-position-y: 6px;
    background-image: url(../img/btn_mb_pager_prev.png);
    background-repeat: no-repeat;
}
.mb_btn .mb_next {
    padding-left: 2px;
    background-position-y: 6px;
    background-image: url(../img/btn_mb_pager_next.png);
    background-repeat: no-repeat;
    background-position-x: right;
    
}
.mb_btn .mb_pager{
    color: rgba(255, 255, 255, 0.5);
}
.mf_btn .mf_pager .current{
    color: #fff;
}

/* 본문2 - ngb(2) */
#main2{
    margin-bottom: 100px;
}
.m2_in{
    width: 1175px;
    margin-left: auto;
    margin-right: auto;
}
.m2_in ul{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.m2_in li{
    padding-bottom: 23px;
    width: 85px;
    height: 85px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.m2_in p{
    padding-top: 95px;
    font-size: 18px;
    font-weight:600;
    color: #222;
    
}
.m2_icon1{
    background-image: url(../img/s02_icon1.png);
}
.m2_icon2{
    background-image: url(../img/s02_icon2.png);
}
.m2_icon3{
    background-image: url(../img/s02_icon3.png);
}
.m2_icon4{
    background-image: url(../img/s02_icon4.png);
}
.m2_icon5{
    background-image: url(../img/s02_icon5.png);
}
.m2_icon6{
    background-image: url(../img/s02_icon6.png);
}
.m2_icon7{
    background-image: url(../img/s02_icon7.png);
}
.m2_icon8{
    background-image: url(../img/s02_icon8.png);
}

/* 본문3 - 게시글 */
#main3{
    margin-bottom: 100px;
}
.m3_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.post1{
    margin-bottom: 85px;
}
.post_head{
    display: flex;
    justify-content: space-between;
}
.title a{
    display: block;
    font-size: 25px;
    line-height: 1em;
    margin-bottom: 15px;
    color: #222;
}
.more a{
    padding-right: 22px;
    color: #00bbff;
    font-size: 17px;
    font-weight: 600 ;
    background-image: url(../img/plus_B.png);
    background-repeat: no-repeat;
    background-position: right 0 center;
}
.post_body ul{
    display: flex;
    justify-content: space-between;
}
.post_body li{
    position: relative;
}
.m_p_img{
    width: 343px;
    height: 100%;
}
.m_p_img img{
    height: 229px;
    border-radius: 4px;
}
.m_p_text{
    padding-top: 6px;
    width: 343px;
    font-size: 18px;
    line-height: 1.4em;
    color: #222;
}
.m_p_text span{
    font-weight: 600;
    color: #00bbff;
}
.post_body button{
    position: absolute;
    top: 185px;
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 33px;
    background-image: url(../img/scrap.png);
}

/* 본문4 - 중간 배너 광고 */
#main4{
    margin-bottom: 100px;
    position: relative;
}
.m4_ad{
    height: 274px;
    width: 100%;
}
.m4_ad img{
    width: 1920px;

}
.bt_next{
    margin-right: -750px;
    width: 60px;
    height: 60px;
    background-image: url(../img/btn_next.png);
}
.m4_btn .bt_next{
    position: absolute;
    right: 50%;
    top: 107px;
}
.bt_prev{
    margin-left: -750px;
    width: 60px;
    height: 60px;
    background-image: url(../img/btn_prev.png);
}
.m4_btn .bt_prev{
    position: absolute;
    left: 50%;
    top: 107px;
}
.m4_pager{
    display: flex;
    align-items: center;
}
.m4_pager_box{
    position: absolute;
    top: 200px;
    right: 50%;
    margin-right: -570px;
    width: 81px;
    height: 37px;
    background-color: #222;
    opacity: 0.5;
    border-radius: 100px;
}
.m4_pager{
    position: absolute;
    top: 206px;
    right: 50%;
    margin-right: -562px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.m4_pager_plus a{
    display: inline-block;
    margin-top: -3px;
    padding: 2px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
}

/* 본문5 - 오늘의딜 */
#main5{
    margin-bottom: 100px;
}
.m5_in{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}
.m5_btn .bt_prev{
    position: absolute;
    left: 50%;
    top: 180px;
}
.m5_btn .bt_next{
    position: absolute;
    top: 180px;
    right: 50%;
}
.m5_head{
    display: flex;
    justify-content: space-between;
}
.m5_body ul{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.m5_body li{
    position: relative;
    color: #222;
}
.m5_timer{
    position: absolute;
    top: 14px;
    left: 14px;
    display: flex;
    justify-content: center;
    width: 112px;
    height: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    color: #fff;
    background-color: #ff7777;
    border-radius: 5px;
}
.m5_img{
    width: 344px;
    margin-bottom: 5px;
}
.m5_img img{
    height: 340px;
}
.brand{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8em;
    color: #777;
}
.m5_body .name{
    width: 344px;
    color: #333;
}
.sale{
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
}
.rate{
    /* margin-right: 5px; */
    color: #00bbff;
}
.review{
    display: flex;
}
.review_star{
    color: #00bbff;
}
.review_point{
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}
.review_count{
    font-size: 12px;
    font-weight: 700;
    color: #888;
}
.td_deli_img{
    width: 61px;
    height: 16px;
    background-image: url(../img/mark_td_deli.png);
}
.td_deli p{
    font-size: 12px;
    font-weight: 300;
    line-height: 2em;
    color: #185fe4;
}
.mark{
    display: flex;
    align-items: flex-start;
}
.mark p{
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 11px;
}
.mark_free{
    color: #777;
    background-color: #ededed;
}
.mark_special{
    color: #ffffffd7;
    background-color: #ff7777;
}
.m5_body button{
    position: absolute;
    top: 295px;
    right: 18px;
    display: inline-block;
    width: 30px;
    height: 33px;
    background-image: url(../img/scrap.png);
}

/* 본문6 - 추천사진 */
#main6{
    margin-bottom: 100px;
}
.m6_in{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m6_btn .bt_prev{
    position: absolute;
    left: 50%;
    top: 180px;
}
.m6_btn .bt_next{
    position: absolute;
    right: 50%;
    top: 180px;
}
.m6_head{
    display: flex;
    justify-content: space-between;
}
.m6_subTitle{
    margin-bottom: 5px;
}
.m6_in ul{
    display: flex;
    justify-content: space-between;
}
.m6_content{
    position: relative;
}
.m6_content img{
    height: 314px;
}
.pf_img{
    margin-right: 8px;
    width: 35px;
    height: 100%;
}
.pf_img img{
    height: 35px;
    border-radius: 100px;
}
.m6_profile{
    position: absolute;
    bottom: 25px;
    left: 8px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.m6_content button{
        position: absolute;
        bottom: 20px;
        right: 15px;
        display: inline-block;
        width: 30px;
        height: 33px;
        background-image: url(../img/scrap.png);
}

/* 본문7 - 중간 카테고리바 */
#main7{
    margin-bottom: 100px;
}
.m7_in{
    width: 1282px;
    margin-left: auto;
    margin-right: auto;
}
.m7_in .title{
    text-align: center;
    margin-bottom: 25px;

}
.m7_in ul{
    display: flex;
    justify-content: space-between;
}
.m7_in li{
    margin-bottom: 1px;
    width: 159px;
    height: 151px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.m7_in li p:first-child{
    height: 100px;
    width: 119px;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.m7_top li{
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}
.m7_top{
    border-right: 1px solid #888;
}
.m7_bottom li{
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;

}
.m7_bottom{
    border-right: 1px solid #888;
}
.m7_icon1{
    background-image: url(../img/subcate1.png);
}
.m7_icon2{
    background-image: url(../img/subcate2.png);
}
.m7_icon3{
    background-image: url(../img/subcate3.png);
}
.m7_icon4{
    background-image: url(../img/subcate4.png);
}
.m7_icon5{
    background-image: url(../img/subcate5.png);
}
.m7_icon6{
    background-image: url(../img/sub_cate7.png);
}
.m7_icon7{
    background-image: url(../img/subcate7.png);
}
.m7_icon8{
    background-image: url(../img/subcate8.png);
}
.m7_icon9{
    background-image: url(../img/subcate9.png);
}
.m7_icon10{
    background-image: url(../img/subcate10.png);
}
.m7_icon11{
    background-image: url(../img/sub_cate12.png);
}
.m7_icon12{
    background-image: url(../img/sub_cate13.png);
}
.m7_icon13{
    background-image: url(../img/subcate13.png);
}
.m7_icon14{
    background-image: url(../img/subcate14.png);
}
.m7_icon15{
    background-image: url(../img/sub_cate17.png);
}
.m7_icon16{
    background-image: url(../img/sub_cate16.png);
}
.m7_name{
    color: #222;
    font-size: 20px;
    text-align: center;
}

/* 본문8 - 인테리어시공 리뷰 */
#main8{
    margin-bottom: 100px;
}
.m8_in{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m8_btn .bt_prev{
    position: absolute;
    left: 50%;
    top: 180px;
}
.m8_btn .bt_next{
    position: absolute;
    right: 50%;
    top: 180px;
}
.m8_head{
    display: flex;
    justify-content: space-between;
}
.m8_in ul{
    display: flex;
    justify-content: space-between;
}
.m8_in li{
    position: relative;
    width: 462px;
}
.m8_in li button{
    position: absolute;
    top: 260px;
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 33px;
    background-image: url(../img/scrap.png);

}

.m8_img img{
    width: 462px;
    height: 306px;
}
.item_name{
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
}
.item_content{
    color: #222;
    font-size: 13px;
}
/* 본문9 - 기획전 */
#main9{
    margin-bottom: 100px;
}
.m9_in{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m9_btn .bt_prev{
    position: absolute;
    left: 50%;
    top: 125px;
}
.m9_btn .bt_next{
    position: absolute;
    right: 50%;
    top: 125px;
}
.m9_head{
    display: flex;
    justify-content: space-between;
}
.m9_in ul{
    display: flex;
    justify-content: space-between;
}
.m9_in li{
    width: 342px;
}
.m9_img img{
    width: 342px;
    height: 227px;
}
.item_content{
    margin-top: 5px;
}

/* 본문10 - 베스트 상품 */
#main10{
    margin-bottom: 100px;
}
.m10_in{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m10_btn .bt_prev{
    position: absolute;
    top: 20px;
    left: 50%;
}
.m10_btn .bt_next{
    position: absolute;
    top: 20px;
    right: 50%;
}
.m10_head{
    display: flex;
    justify-content: space-between;
}
.m10_in ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.m10_in li{
    position: relative;
}
.m10_in li {
    color: #222;
}
.m10_in li button{
    position: absolute;
    top: 440px;
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 33px;
    background-image: url(../img/scrap.png);
}
.m10_ngb_text a{
    font-weight: 600;
    padding: 4px 10px;
    color: #00bbff;
    border: 2px solid #00bbff;
    border-radius: 100px;
}
.m10_ngb .active a{
    color: #fff;
    background-color: #00bbff;
}




/* 푸터 */
#footer{
    padding: 0px 40px;
    border-top: 1px solid #ccc;
}
.ft_in{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.ft_in > div{
    margin-right: 15px;
}
.ft_in p{
    font-size: 11px;
    margin-bottom: 10px;
}
.bold{
    font-weight: 700;
}
.ft_in .f_list1-1{
    font-size: 15px;
}
.ft_in .f_list1-2{
    font-size: 14px;
}
.ft_in .f_list1-2 span{
    font-weight: 400;
    margin-left: 8px;
}
.border{
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 4px;
}
.ft2{
    display: flex;
}
.ft2 li{
    margin-right: 10px;
}
.ft3 li{
    margin-bottom: 10px;
}
.ft_mark{
    display: flex;
}
.ft_mark li{
    padding: 8px 30px;
    margin-right: 15px;
    border: 1px solid #888;
}
.ft_sns{
    display: flex;
}
.bold{
    font-weight: 900;
}